<header>
    <a href="/">main</a>
    <a href="/register">register</a>
    <a href="/login">login</a>
    <a href="/admin">admin</a>
    <a href="/logout">{{logout}}</a>
</header>
<div id="adminPanel">
    <a href="/sort">sort</a>
    <a href="/gender">gender</a>
    <a href="/show">show</a>
</div>
<table>
    {{#each k}}
    <tr>
        <td>id: {{id}} </td>
        <td>płeć: {{plec}} </td>
    </tr>
    {{/each}}
</table>
<div style="height: 20px;"></div>
<table>
    {{#each i}}
    <tr>
        <td>id: {{id}} </td>
        <td>płeć: {{plec}} </td>
    </tr>
    {{/each}}
</table>